// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


.black-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28343b+0,828c95+51,b5bdc8+100 */
  background: #28343b; /* Old browsers */
  background: -moz-linear-gradient(left, #28343b 0%, #828c95 25%, #b5bdc8 45%); /* FF3.6-25 */
  background: -webkit-linear-gradient(left, #28343b 0%,#828c95 25%,#b5bdc8 45%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #28343b 0%,#828c95 25%,#b5bdc8 45%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=1 ); /* IE6-9 */
}

.flickr-photo-wrapper {
  .header {
    height: 100vh;
    background-color: #506e90;
    background: linear-gradient(to bottom, #304155, #506e90);
  }

  .text-container {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 32vh;
    .inner-container {
      padding-right: 350px; // Width of manhattan graphic
      padding-left: 50px;
    }
  }

  h1, h2, p, text {
    text-shadow: 1px 1px 3px black;
    color: white;
  }

  h1 {
    margin:0px;
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  .down-arrow {
    font-size: 24px;

    i {
      display: block;
    }
  }

  .bottom-cta {
    padding-top: 200px;
    height: 100vh;
    background: linear-gradient(to bottom, #240638, #11001d);
  }
}

.viz {
  background: linear-gradient(to bottom, #506e90 5%, #7696cd 15%, #b0cff0 40%, #7696cd 55%, #506e90 68%, #260040 80%, #240638 100%);
}


.white-on-image {
  text-shadow: 1px 1px 3px black;
  color: white;
}

