// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


.black-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28343b+0,828c95+51,b5bdc8+100 */
  background: #28343b; /* Old browsers */
  background: -moz-linear-gradient(left, #28343b 0%, #828c95 25%, #b5bdc8 45%); /* FF3.6-25 */
  background: -webkit-linear-gradient(left, #28343b 0%,#828c95 25%,#b5bdc8 45%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #28343b 0%,#828c95 25%,#b5bdc8 45%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=1 ); /* IE6-9 */
}

.full-height {
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.hidden {
  opacity:0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.flickr-photo-wrapper {
  .header {
    background-color: #506e90;
    background: linear-gradient(to bottom, #001329, #506e90);
  }

  section.full-height {
    padding-left: 50px;
  }


  .text-container {
    width: 600px;
    max-width: 100%;
    padding-top: 45vh;
    .inner-container {
      // padding-right: 350px; // Width of manhattan graphic
    }
  }

  section.title {
    .text-container {
      width: 100%;
      padding-top: 30vh;
      .inner-container {
        padding-right: 350px; // Width of manhattan graphic
      }
    }
  }

  .text-container.once-upon {
    padding-top: 24vh;
  }

  h1, h2, h3, p, text {
    text-shadow: 1px 1px 3px black;
    color: white;
  }

  h1 {
    margin:0px;
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 3.5rem;
    font-family: 'Berkshire Swash', cursive;
    margin-top: 0;
    margin-bottom: 25px;
  }

  p {
    font-size: 1.5rem;
  }

  .down-arrow {
    font-size: 24px;
    margin-top: 75px;

    i {
      display: block;
    }
  }

  .bottom-cta {
    padding-top: 200px;
    height: 100vh;
    background: linear-gradient(to bottom, #03001b, #010242);
  }
}

.viz {
  background: linear-gradient(to bottom, #506e90 5%, #7696cd 15%, #b0cff0 40%, #7696cd 55%, #506e90 68%, #001329 80%, #03001b 100%);
}


.white-on-image {
  text-shadow: 1px 1px 3px black;
  color: white;
}

