// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  margin: 0;
}


.black-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28343b+0,828c95+51,b5bdc8+100 */
  background: #28343b; /* Old browsers */
  background: -moz-linear-gradient(left, #28343b 0%, #828c95 25%, #b5bdc8 45%); /* FF3.6-25 */
  background: -webkit-linear-gradient(left, #28343b 0%,#828c95 25%,#b5bdc8 45%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #28343b 0%,#828c95 25%,#b5bdc8 45%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=1 ); /* IE6-9 */
}
